h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

a {
    color: green;
}

.top {
    background-color: red;
}


em {
    background-color: blue;
}

#the_most_important {
    text-transform: uppercase;
    background-color: gold;

}

h2 {
    font-family: sans-serif;
}

h2+p::first-letter {
    font-size: x-large;
}

tr:hover {
    background-color: lightskyblue;
}

tr:hover td {
    background-color: lightskyblue;
}

nav li {
    display: inline;
}

a {
    text-decoration: none;
}

nav li:first-child a {
    text-decoration: underline;
}

::selection {
    color: white;
    background-color: darkgoldenrod;
}

body a:hover {
    cursor: pointer;
}

input {
    height: 20px;
}

input[type="text"] {
    border-color: lightgray;
}

input[name="message"] {
    height: 50px;
}

/* ChatGPT Helped on this */
tbody tr:nth-child(even) {
    background-color: aquamarine;
}

tbody tr:nth-child(odd) {
    background-color: aqua;
}